h5 {
  text-decoration: underline;
}

.div_border {
      border: 3px solid #dee2e6;
      border-radius: 0.25rem;
      padding: 20px;
      margin-top: 20px;
}

.text_block {
  hyphens: auto;
  text-align: justify;
}

.fit_height {
  height: fit-content;
}

.fit_width {
  width: fit-content !important;
}

.navbar {
  border-radius: 10px;
}

.min_width {
  width: min-content;
}

.padding_right {
  padding-right: 10px;
}

.margin_bot {
  margin-bottom: 10px;
}